 .u-section-1 {
  min-height: 1036px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 980px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 100px;
}

.u-section-1 .u-image-1 {
  width: 430px;
  height: 668px;
  margin: 50px auto 0 -5px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  margin: 33px 0 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 0 80px 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 826px;
}

.u-section-1 .u-image-2 {
  height: 721px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-family: "Cedarville Cursive";
  margin: -629px 205px 0 33px;
}

.u-section-1 .u-line-1 {
  height: 285px;
  transform-origin: center bottom 0;
  width: 20px;
  margin: 150px 82px 68px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 647px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 808px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 82px;
  }

  .u-section-1 .u-image-1 {
    width: 370px;
    height: 575px;
    margin-top: -29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 82px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 732px;
  }

  .u-section-1 .u-image-2 {
    height: 571px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -571px;
    margin-right: 93px;
    margin-left: 27px;
  }

  .u-section-1 .u-line-1 {
    width: 16px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 63px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 513px;
    margin-top: -87px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 216px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 63px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 771px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 52px;
    margin-left: 21px;
  }

  .u-section-1 .u-line-1 {
    width: 13px;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -138px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 249px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 613px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 97px;
    margin-left: 187px;
  }

  .u-section-1 .u-line-1 {
    width: 20px;
    margin-top: 5px;
    margin-right: 47px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 822px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -180px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-3 {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 16px;
    margin-right: 49px;
    margin-bottom: 44px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -205px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 725px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 163px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 725px;
  background-image: url("images/IMG-20220921-WA0002.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-2 .u-image-1 {
    min-height: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 687px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2 .u-image-1 {
    min-height: 433px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 280px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 920px;
  margin: -35px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 148px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  position: relative;
  font-family: "Cedarville Cursive";
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 168px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 168px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 759px;
    margin-left: 91px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 581px;
    margin-left: 69px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 229px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 229px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 488px;
    margin-top: -88px;
    margin-bottom: 41px;
    margin-left: 26px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 307px;
    margin-left: 33px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 770px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1128px;
  margin: 42px 0 -127px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 877px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: 0 10px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/WhatsAppImage2024-12-19at21.47.45.jpeg");
  min-height: 877px;
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-4 .u-group-1 {
  width: 466px;
  min-height: 212px;
  height: auto;
  background-image: none;
  margin: 609px auto 0 24px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 731px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 731px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 560px;
  }

  .u-section-4 .u-group-1 {
    width: 461px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 326px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 127px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 686px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: -396px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/WhatsAppImage2024-12-19at21.47.43.jpeg");
  min-height: 1058px;
  background-position: 50% 50%;
}

.u-section-6 .u-group-1 {
  width: 571px;
  min-height: 199px;
  height: auto;
  background-image: none;
  margin: 784px auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-6 .u-text-1 {
  margin: 56px 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 1058px;
}

.u-section-6 .u-group-2 {
  height: auto;
  background-image: none;
  min-height: 644px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-6 .u-text-2 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-image-1 {
    min-height: 618px;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 872px;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 360px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 338px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 284px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
} .u-section-8 {
  min-height: 731px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 543px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  position: relative;
  margin: 24px 20px 0;
}

.u-section-8 .u-text-2 {
  width: 449px;
  margin: 20px auto 0;
}

.u-section-8 .u-image-1 {
  min-height: 543px;
  background-image: url("images/WhatsAppImage2024-12-17at14.03.43.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-8 .u-text-1 {
    font-family: "Roboto Slab", serif;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-2 {
    width: 370px;
  }

  .u-section-8 .u-image-1 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    width: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    width: 266px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    width: 223px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 415px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 920px;
  margin: -117px auto 42px 110px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 303px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-1 {
  position: relative;
  font-family: "Cedarville Cursive";
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-icon-1 {
  color: rgb(215, 90, 74) !important;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 187px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-2 {
  font-size: 0.875rem;
  margin: 30px 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 187px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 22px;
  padding-right: 18px;
}

.u-section-9 .u-text-3 {
  font-size: 0.875rem;
  margin: 30px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 759px;
    margin-left: 91px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 581px;
    margin-left: 69px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 488px;
    margin-top: -114px;
    margin-bottom: 39px;
    margin-left: 26px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 307px;
    margin-top: -116px;
    margin-bottom: 41px;
    margin-left: 16px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 5px;
  }
} .u-section-10 {
  min-height: 358px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-image-1 {
  background-image: url("images/WhatsAppImage2024-12-17at13.01.19.jpeg");
  min-height: 358px;
  background-position: 50% 50%;
}

.u-section-10 .u-image-2 {
  background-image: url("images/WhatsAppImage2024-12-19at21.47.44.jpeg");
  min-height: 358px;
  background-position: 50% 33.6%;
  background-size: cover;
}

.u-section-10 .u-image-3 {
  background-image: url("images/WhatsAppImage2024-11-27at23.27.32.jpeg");
  min-height: 358px;
  background-position: 50% 50%;
}

.u-section-10 .u-image-4 {
  background-image: url("images/IMG-20240203-WA0029.jpg");
  min-height: 358px;
  background-position: 50% 0%;
  background-size: cover;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 318px;
  }

  .u-section-10 .u-layout-wrap-1 {
    min-height: 94px;
  }

  .u-section-10 .u-image-1 {
    min-height: 318px;
  }

  .u-section-10 .u-image-2 {
    min-height: 318px;
  }

  .u-section-10 .u-image-3 {
    min-height: 318px;
  }

  .u-section-10 .u-image-4 {
    min-height: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-layout-wrap-1 {
    min-height: 650px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-wrap-1 {
    min-height: 1454px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-wrap-1 {
    min-height: 562px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 660px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 357px;
  margin: 49px auto 0 74px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-11 .u-group-1 {
  width: 357px;
  height: auto;
  min-height: 562px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-image-1 {
  width: 190px;
  height: 370px;
  margin: 66px auto 0 54px;
}

.u-section-11 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 531px;
  height: 511px;
  margin: -537px 132px 60px auto;
}

.u-section-11 .u-image-2 {
  width: 511px;
  height: 531px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

@media (max-width: 1199px) {
  .u-section-11 .u-layout-wrap-1 {
    min-height: 432px;
  }

  .u-section-11 .u-group-1 {
    width: 106px;
    height: auto;
  }

  .u-section-11 .u-image-1 {
    width: 46px;
    height: 90px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-11 .u-layout-wrap-1 {
    min-height: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-11 .u-layout-wrap-1 {
    min-height: 746px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 1746px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-rotation-parent-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
    min-height: 233px;
    margin-left: 0;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 1663px;
  }

  .u-section-11 .u-rotation-parent-1 {
    width: 340px;
    height: 327px;
    margin-right: 0;
  }

  .u-section-11 .u-image-2 {
    width: 327px;
    height: 340px;
  }
}